<launch>
  <master auto="start"/>

  <arg name="log" default="false"/>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find nautonomous_navigation)/launch/map/map_papaverweg.yaml"/>

<node pkg="rosbag" type="record" name="rosbag_map" args="record -o /media/NautonomousBlackBox/bags/Navigation/map_server /map" output="screen" if="$(arg log)"/>
</launch>
