<launch>

  <include file="$(find nautonomous_zed)/launch/zed_tf.launch" />

  <arg name="svo_file" default=""/>
  
  <arg name="pi/2" value="1.5707963267948966" />
  <!--<arg name="optical_rotate" value="0 0 0 -$(arg pi/2) 0 -$(arg pi/2)" />-->
<!--<arg name="optical_rotate" value="0 0 0 -$(arg pi/2) 0 -$(arg pi/2)" />
  <node pkg="tf" type="static_transform_publisher" name="camera_base_link"
        args="$(arg optical_rotate) base_link camera_link 100" />-->

  <group ns="camera">
    <node name="zed_wrapper_node" pkg="nautonomous_zed" type="zed_wrapper_node" args="$(arg svo_file)" output="screen">

      <param name="resolution"            value="2" />
      <param name="quality"               value="1" />
      <param name="sensing_mode"          value="1" />
      <param name="frame_rate"            value="10" />

      <param name="rgb_topic"            value="rgb/image_rect_color" />
      <param name="rgb_cam_info_topic"   value="rgb/camera_info" />
      <param name="rgb_frame_id"         value="/camera_link" />

      <param name="left_topic"            value="left/image_rect_color" />
      <param name="left_cam_info_topic"   value="left/camera_info" />
      <param name="left_frame_id"         value="/camera_link" />

      <param name="right_topic_color"            value="right/image_rect_color" />
      <param name="right_topic_mono"            value="right/image_rect" />
      <param name="right_cam_info_topic"   value="right/camera_info" />
      <param name="right_frame_id"         value="/camera_link" />

      <param name="depth_topic"            value="depth/image_rect_color" />
      <param name="depth_cam_info_topic"   value="depth/camera_info" />
      <param name="depth_frame_id"         value="/camera_link" />

      <param name="point_cloud_topic"     value="points2" />
      <param name="cloud_frame_id"        value="/camera_link" />

    </node>
  </group>

  <include file="$(find nautonomous_navigation)/launch/laser/depthtolaser.launch"/>

  <node pkg="rosbag" type="record" name="rosbag_Camera"
       args="record -j -b 10000000 -o /media/NautonomousBlackBox/bags/Camera/zed /camera/rgb/image_rect_color /scan /tf" output="screen"/>

 </launch>
