[submodule "src/nautonomous_actuation_simulator"]
	path = src/nautonomous_actuation_simulator
	url = git@github.com:waternet/nautonomous_actuation_simulator.git
	branch = master
[submodule "src/nautonomous_actuation_synchronizer"]
	path = src/nautonomous_actuation_synchronizer
	url = git@github.com:waternet/nautonomous_actuation_synchronizer.git
	branch = master
[submodule "src/nautonomous_configuration"]
	path = src/nautonomous_configuration
	url = git@github.com:waternet/nautonomous_configuration.git
	branch = master
[submodule "src/nautonomous_gps_ublox"]
	path = src/nautonomous_gps_ublox
	url = git@github.com:waternet/nautonomous_gps_ublox.git
	branch = master
[submodule "src/nautonomous_navigation_odometry"]
	path = src/nautonomous_navigation_odometry
	url = git@github.com:waternet/nautonomous_navigation_odometry.git
	branch = master
[submodule "src/nautonomous_navigation_transform"]
	path = src/nautonomous_navigation_transform
	url = git@github.com:waternet/nautonomous_navigation_transform.git
	branch = master
[submodule "src/nautonomous_operation_action"]
	path = src/nautonomous_operation_action
	url = git@github.com:waternet/nautonomous_operation_action.git
	branch = master
[submodule "src/nautonomous_actuation_selector"]
	path = src/nautonomous_actuation_selector
	url = git@github.com:waternet/nautonomous_actuation_selector.git
	branch = master
[submodule "src/nautonomous_serverconnection_bridge_server"]
	path = src/nautonomous_serverconnection_bridge_server
	url = git@github.com:waternet/nautonomous_serverconnection_bridge_server.git
	branch = master
[submodule "src/nautonomous_serverconnection_logger_server"]
	path = src/nautonomous_serverconnection_logger_server
	url = git@github.com:waternet/nautonomous_serverconnection_logger_server.git
	branch = master
[submodule "src/nautonomous_logging_msgs"]
	path = src/nautonomous_logging_msgs
	url = git@github.com:waternet/nautonomous_logging_msgs.git
	branch = master
